<%= form_with(model: expo, local: true) do |form| %>
  <% if expo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(expo.errors.count, "error") %> prohibited this expo from being saved:</h2>

      <ul>
      <% expo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :expo_name %>
  </div>

  <div class="field">
    <%= form.label :place %>
    <%= form.text_field :place, id: :expo_place %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.datetime_select :date, id: :expo_date %>
  </div>

  <div class="field">
    <%= form.label :image_url %>
    <%= form.text_field :image_url, id: :expo_image_url %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :expo_description %>
  </div>

  <div class="field">
    <%= form.label :active %>
    <%= form.check_box :active, id: :expo_active %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
