<p id="notice"><%= notice %></p>

<h1>Expos</h1>

<table>
  <thead>
    <tr>
      <th> name</th>
      <th>Place</th>
      <th>Date</th>
      <th>Image url</th>
      <th>Description</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @expos.each do |expo| %>
      <tr>
        <td><%= expo.name %></td>
        <td><%= expo.place %></td>
        <td><%= expo.date %></td>
        <td><%= expo.image_url %></td>
        <td><%= expo.description %></td>
        <td><%= expo.active %></td>
        <td><%= link_to 'Show', expo %></td>
        <td><%= link_to 'Edit', edit_expo_path(expo) %></td>
        <td><%= link_to 'Destroy', expo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Expo', new_expo_path %>
